*{
    margin: 0px;
    padding:0px;
    font-size: 1.1rem;
}

.oculto{
    display: none
}

.modal-header{
    flex-direction: column;
}

.centrar{
    justify-self: center;
    text-align: center;
}

.sticky{
    height: 100px;
    width: 100px;
    position: fixed;
    bottom: 10%;
    right: 0;
    border: solid red;
    border-radius: 100px;
    z-index: 99;
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTHuKTE-ieefw2aN8wJ8GI7QlwNUSfB3DHq2A&usqp=CAU");
    background-size: cover;
    
}

.cantCarrito{
    color: white;
    background-color: red;
    width: 30%;
    height:30%;
    border-radius: 50%;
    text-align: center;
    text-justify: center;
}


.sticky:hover{
    height: 150px;
    width: 150px;
}

.card-img-top{
    height: 200px;
}

.img-mini{
    height: 100%;
}
.sticky-top{
    background-color: #04009A;
    color: #C0FEFC;
}

.flex{
    display:flex;
    justify-content: center;
}


section{
    background-color: #77ACF1;
    height:auto;
    min-height: 100vh;
    padding: 20px;
}

.background-azul{
    background-color: #04009A;
}

.color-txt{
    color: #C0FEFC;
}

.row{
    margin-left: 0;
}

.btn{
    height: 50px;
}
.navbar-toggler {
    background-color: #C0FEFC;
}
